{% extends 'base.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="article_content">
	<div>
		{{ article.html }}
	</div>
	<button class="btn btn-xs btn-primary" id="show-source">View Source</button>
</div>

<div class="article_source">
	<div>
		{{ article.markdown }}
	</div>
	<button class="btn btn-xs btn-primary" id="hide-source">Hide Source</button>
</div>
{% endblock content %}

{% block styles %}
<link href="{% static 'wiki/wiki.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static 'wiki/wiki.js' %}"></script>
{% endblock %}
