{% extends 'base.html' %}
{% load static %}

{% block title %}{{ article.title }}{% endblock %}
{% block header %}{{ article.title }}{% endblock %}

{% block content %}
<div class="articles-tags text-right">
	{% if not article.is_published %}<span class="label label-warning">Unpublished</span>{% endif %}
	{% if article.is_nsfw %}<span class="label label-danger">NSFW</span>{% endif %}
	{% if article.is_spoiler %}<span class="label label-warning">Spoiler</span>{% endif %}
	{% for tag in article.tags.all %}
	<a href="{% url 'wiki-tag' slug=tag.slug %}" class="label label-info">{{ tag }}</a>
	{% endfor %}
	{% if perms.wiki.change_article %}<button role="button" class="btn btn-xs btn-default" id="edit-page">Edit</a>{% endif %}
</div>
<div class="article_content">
	<div>
		{{ article.html }}
	</div>
	<button role="button" class="btn btn-xs btn-default pull-right" id="show-source">View Source</button>
</div>

<div class="article_source">
	<div>{{ article.markdown }}</div>
	<button role="button" class="btn btn-xs btn-default pull-right" id="hide-source">Hide Source</button>
</div>

{% if perms.wiki.change_article %}
<div class="article_edit">
	<form method="POST" id="article-form">
		{% csrf_token %}
		{{ form.as_p }}
	</form>
</div>
{% endif %}

<div id="article_edited">
	Last modified on {{ article.edited }}
</div>
{% endblock content %}

{% block styles %}
<link href="{% static 'wiki/wiki.css' %}" rel="stylesheet">
{% if user.is_authenticated %}<link href="{% static 'wiki/bootstrap-markdown.min.css' %}" rel="stylesheet">{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'wiki/wiki.js' %}"></script>
{% if user.is_authenticated %}<script src="{% static 'wiki/jquery.hotkeys.js' %}"></script>
<script src="{% static 'wiki/bootstrap-markdown.js' %}"></script>{% endif %}
{% endblock %}
