{% extends 'wiki/_base.html' %}

{% block title %}{{ article.title }}{% endblock %}
{% block header %}{{ article.title }}{% endblock %}

{% block content %}
<div class="articles-tags text-right">
	{% if not article.is_published %}<span class="label label-warning">Unpublished</span>{% endif %}
	{% if article.is_redirect %}<span class="label label-warning">Redirect Page</span>{% endif %}
	{% if article.is_nsfw %}<span class="label label-danger">NSFW</span>{% endif %}
	{% if article.is_spoiler %}<span class="label label-warning">Spoiler</span>{% endif %}
	{% for tag in article.tags.all %}
	<a href="{% url 'wiki-tag' slug=tag.slug %}" class="label label-info">{{ tag }}</a>
	{% endfor %}
	{% if perms.wiki.change_article %}
	{% if create_url %}
	<a href="{{ create_url }}" class="btn btn-xs btn-default" id="new-page">New</a>
	{% else %}
	<a href="{{ article.get_edit_url }}" class="btn btn-xs btn-default" id="edit-page">Edit</a>
	{% endif %}
	{% endif %}
</div>
<div class="article_content">
	<div>
		{{ article.html }}
	</div>
	<button role="button" class="btn btn-xs btn-default pull-right" id="show-source">View Source</button>
</div>

<div class="article_source">
	<div>{{ article.markdown }}</div>
	<button role="button" class="btn btn-xs btn-default pull-right" id="hide-source">Hide Source</button>
</div>

<div id="article_edited">
	Last modified on {{ article.edited }}
</div>
{% endblock content %}

