{% extends 'base.html' %}
{% load static %}

{% block title %}{{ slug }} (Disambiguation){% endblock %}
{% block header %}{{ slug }} (Disambiguation){% endblock %}

{% block content %}
<div class="disambiguation"><strong>{{ slug }}</strong> may refer to:</div>
<div class="articles">
	<div class="row">
		{% for article in articles %}
		<div class="col-lg-4 col-sm-6"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></div>
		{% endfor %}
	</div>
</div>
{% endblock content %}

{% block styles %}
<link href="{% static 'wiki/wiki.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static 'wiki/wiki.js' %}"></script>
{% endblock %}
