{% extends 'wiki/_base.html' %}
{% load static %}

{% block title %}Editing: {{ article.title }}{% endblock %}
{% block header %}Editing: {{ article.title }}{% endblock %}

{% block content %}
<div class="articles-tags text-right">
	{% if not article.is_published %}<span class="label label-warning">Unpublished</span>{% endif %}
	{% if article.is_nsfw %}<span class="label label-danger">NSFW</span>{% endif %}
	{% if article.is_spoiler %}<span class="label label-warning">Spoiler</span>{% endif %}
	{% if article.pk %}
	{% for tag in article.tags.all %}
	<a href="{% url 'wiki-tag' slug=tag.slug %}" class="label label-info">{{ tag }}</a>
	{% endfor %}
	{% endif %}
	<button role="button" id="go-back" class="btn btn-xs btn-default">Cancel</button>
</div>
<div class="article_edit">
	<form method="POST" id="article-form">
		{% csrf_token %}
		{{ form.as_p }}
		<div class="text-right">
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	</form>
</div>

<div id="article_edited">
	Last modified on {{ article.edited }}
</div>
{% endblock content %}

{% block styles %}
<link href="{% static 'wiki/bootstrap-markdown.min.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{% static 'wiki/jquery.hotkeys.js' %}"></script>
<script src="{% static 'wiki/bootstrap-markdown.js' %}"></script>
{% endblock %}
