.page_source {
	display: none;
}
.page_source div {
	white-space: pre-line;
	font-family: monospace;
}

a.headerlink {
	display: none;
}
h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink
{
	display: inline-block;
}
