body {
	background-image: linear-gradient(to bottom, #eff, #fff);
	background-attachment: fixed;
}
.header {
	text-align: center;
}
span.subheader {
	display: block;
	margin-top: -10px;
	font-size: 18px;
	font-weight: 500;
	font-style: italic;
	color: #666;
}

.content {
	border-radius: 15px;
	padding: 15px;
	margin-top: 15px;
	box-shadow: 0px 0px 10px #666;
	background-color: #f0f9fc;
}

.sidebar {
	margin-top: 20px;
	font-size: 95%;
}
.sidebar h1,
.sidebar h2,
.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6
{
	margin: 0;
	margin-bottom: 10px;
}
.sidebar h1 {
	font-size: 30px;
}
.sidebar h2 {
	font-size: 25px;
}
.sidebar h3 {
	font-size: 20px;
}
.sidebar h4 {
	font-size: 15px;
}
.sidebar h5 {
	font-size: 10px;
}
.sidebar h6 {
	font-size: 10px;
}
.sidebar ul {
	list-style: none;
	padding: 0;
}
.sidebar li a {
	display: block;
	padding: 2px 10px;
	border-radius: 5px;
}
.sidebar li a:hover {
	background-color: #d8d8d8;
	text-decoration: none;
}

.article_content h1:first-child,
.article_content h2:first-child,
.article_content h3:first-child,
.article_content h4:first-child,
.article_content h5:first-child,
.article_content h6:first-child
{
	margin-top: 0;
}

.article_source {
	display: none;
}
.article_source div {
	white-space: pre-line;
	font-family: monospace;
}

div#article_edited {
	position: absolute;
	right: 10px;
	bottom: -30px;
	font-size: 85%;
}

a.wikilink.new {
	/*color: #ba0000;*/
	text-decoration: none;
	border-bottom: 1px dashed;
}
a.wikilink.new:hover {
	/*color: #ba0000;*/
	text-decoration: none;
}
a.headerlink {
	display: none;
}
h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink
{
	/*display: inline-block;*/
}

.toc {
	float: right;
	margin: 0;
	padding: 0;
}
.toc ul {
	margin: 0;
	padding-left: 10px;
	list-style: none;
}

.content th {
	background-color: #eee;
}
.content th, .content td {
	border: 1px solid #ccc;
	padding: .3em .5em;
}
.content tr:hover th {
	background-color: #ccc;
}
.content tr:hover td {
	background-color: #eee;
}
