html, body {
	height: 100%;
}
body {
	background-image: linear-gradient(to bottom, #fff, #eef);
	background-attachment: fixed;
}

header {
	display: block;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 500;
	font-style: italic;
}
header, header a {
	color: #666;
}
header a:hover {
	color: #666;
	text-decoration: none;
}

.subhead {
	font-size: 50%;
}

abbr[title] {
	text-decoration: none;
	border-color: inherit;
}

.term-list .index {
	margin: 0;
	padding: 0 0 0 3em;
}
.term-list .index li {
	list-style: none;
	display: inline-block;
}
.term-list dl div {
	cursor: pointer;
}
.term-list :target {
	background-color: #dde;
}
dd {
	padding-left: 2em;
}

.container {
	display: flex;
	flex-direction: row-reverse;
	position: relative;
}
.content {
	flex-grow: 1;
}

.sidebar {
	min-width: 175px;
	max-width: 200px;
	font-size: 95%;
	margin-right: 10px;
}
.sidebar h1,
.sidebar h2,
.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6
{
	margin: 0;
	margin-bottom: 10px;
}
.sidebar h1 {
	font-size: 30px;
}
.sidebar h2 {
	font-size: 25px;
}
.sidebar h3 {
	font-size: 20px;
}
.sidebar h4 {
	font-size: 15px;
}
.sidebar h5 {
	font-size: 10px;
}
.sidebar h6 {
	font-size: 10px;
}
.sidebar ul {
	list-style: none;
	padding: 0;
}
.sidebar ul ul {
	padding-left: 1.5em;
}
.sidebar li a {
	display: block;
	padding: 2px 10px;
	border-radius: 5px;
}
.sidebar li a:hover {
	background-color: #d8d8d8;
	text-decoration: none;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child
{
	margin-top: 0;
}

.article_source {
	display: none;
}
.article_source div {
	white-space: pre-line;
	font-family: monospace;
}

div#article_edited {
	position: absolute;
	right: 10px;
	bottom: -30px;
	font-size: 85%;
}

.article_nsfw {
	color: #a94442;
	background-color: #f2dede;
	padding: 15px;
	border: 1px solid #dca7a7;
	border-radius: 4px;
	background-image: linear-gradient(to bottom,#f2dede 0,#e7c3c3 100%);
}
.article_nsfw>p {
	margin-bottom: 0;
}
.article_nsfw>p+p {
	margin-top: 5px;
}

a[href^=http] {
	background-image: url(./img/external_link.png);
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 13px;
}

a.wikilink.new {
	color: #ff1a1a;
}
a.wikilink.new:hover {
	color: #d81515;
}
a.wikilink.redirect::before {
	content: '\21D2';
	color: black;
	text-decoration: none;
	display: inline-block;
	margin-right: 3px;
}
a.wikiterm {
	text-decoration: dotted underline;
	cursor: help;
	color: inherit;
}
.sidebar a.wikilink.new {
	text-decoration: none;
}
a.headerlink {
	display: none;
}
h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink
{
	/*display: inline-block;*/
}

.toc {
	margin: 0;
	padding: 0;
}
.toctitle {
	font-weight: bold;
}
.toc ul {
	margin: 0;
	list-style: decimal;
}
.toc ul ul {
	list-style: lower-alpha;
}
.toc ul ul ul {
	list-style: lower-roman;
}

.article-list-description {
	margin-bottom: 10px;
	border-bottom: 1px dotted;
}
.article-list-description:empty {
	display: none;
}

.content th {
	background-color: #eee;
}
.content th, .content td {
	border: 1px solid #ccc;
	padding: .3em .5em;
}
.content tr:hover th {
	background-color: #ccc;
}
.content tr:hover td {
	background-color: #eee;
}

.hatnote {
	margin-left: 2em;
	font-size: 95%;
	font-style: italic;
}

.admonition {
	margin-left: 20px;
	margin-right: 15px;
}
.admonition .admonition-title {
	font-weight: bold;
	font-size: 125%;
}

blockquote {
	font-family: serif;
	font-style: italic;
	font-size: medium;
}

.todo {
	font-style: italic;
	color: #2A2;
}

h2, .tag-description {
	border-bottom: 1px solid #a2a9b1;
}
.sidebar h2, .tag-description:empty {
	border-bottom: none;
}

input[type=text], textarea {
	display: block;
	width: 100%;
	padding: 2px 4px;
	border-radius: 4px;
	border: 1px solid #ccd;
	background-color: #f3f3ff;
	resize: vertical;
}
.helptext {
	margin-left: 1em;
	font-style: italic;
}
